* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: lcd;
  src: url(../font/SUBWT___.ttf);
}

html {
    font-size: 62.5%;
}

body {
background-image: url('../img/math.jpg');
background-size: cover;
}

main {
padding:80px;
margin: auto;
width:500px;
}

main input{
    width: 100%;
    font-size: 3.5rem;
    margin-bottom:10px;
    background-color: black;
    color: green;
    text-align: right;
    padding: 10px 4px 10px 4px;
    font-family: lcd;
    border: 1px solid yellow;
    border-radius:4px;
    height:100px;
}

main section#keyBoard {
    /** Grid eller liknade */
  display:grid;
  grid-template-columns: auto;
}


#keyBoard > button {
  height: auto;
  width: auto;
  font-size: 6rem;
}



@media (max-width: 767px) {
    body {


    }

    main {
      width:100vw;
      padding:20px;
      height:100vh;

  }

    main input{

    }
}

@media (max-width: 339px) {
    main {


}
    body {

}
